<h1>PAGINA DE INICIO</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam eligendi perspiciatis officia incidunt, iste maxime tempore illo magni labore autem unde sapiente molestias saepe corrupti corporis? Nostrum, totam delectus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus esse veniam, dicta pariatur delectus quibusdam sunt voluptates modi adipisci excepturi ut alias repellat dolore aliquid. Aut nulla porro aliquam magnam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque sunt aperiam velit. Vel architecto illo fuga deleniti tempore rerum magnam temporibus dolor. Dolorem non, iusto assumenda pariatur sit nam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dignissimos sint quidem commodi, cupiditate odio temporibus! Autem ipsa quidem cum, repellat aperiam eligendi similique sit asperiores. Enim sunt assumenda illo.

</p>

<br>
<br>
<br>

<a href="https://www.google.com/" style="text-align: center; background-color: red;">IR A GOOGLE</a>

<h3>CREADO POR DARWIN BERRIO</h3>